
.botChat {
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 10px; 
    transition: 20s;
    transition-delay: 20s;
    text-align: left;
    max-width: 80%;
}

img {
    width: 100%;
    max-width: 300px;
}

.humanChat {
    background-color: #dcf8c6;
    padding: 5px;
    margin: 10px;
    margin-left: 20%;
    border-radius: 10px;
    text-align: right; 
}

#chat {
    margin-top: 25px;
    background: #e5ddd5;
    padding: 10px;
}

.userArea {
    border: 2px black solid;
    padding: 5px 0px
}

#user_input {
    padding: 0px 5px
}